<h1 class="text-center mt-16">
    Hexavolt<br>
    La recharge électrique, plus simple et plus proche.
</h1>

<section class="margin-section">
    <div class="flex lg:flex-row flex-col gap-9">
        <div class="lg:w-1/2 w-full m-auto">
            <img src="assets/images/imageborne1.webp"
                alt="Image de plusieurs bornes de la section de présentation brève de l'entreprise"
                class="shadow-right">
        </div>
        <div class="flex flex-col lg:justify-center items-center gap-9 lg:w-1/2 w-full">
            <div class="flex flex-col lg:justify-center">
                <p>Votre recharge, tout simplement. Hexavolt, le réseau français de bornes électriques pensé pour tous
                    les conducteurs de véhicules électriques.</p><br>
                <p>Trouvez, branchez, rechargez. Hexavolt met l'électricité à portée de route.</p>
            </div>
        </div>
    </div>
</section>

<section class="margin-section section-bg-secondary">
    <h2 class="text-center">Recharger votre voiture près de chez vous</h2>
    <hr>
    <div class="flex lg:flex-row flex-col gap-9">
        <div
            class="flex flex-col lg:justify-center items-center gap-9 lg:text-right lg:w-1/2 w-full order-2 lg:order-1">
            <div>
                <p>Votre recharge, tout simplement. Hexavolt, le réseau français de bornes électriques pensé pour tous
                    les conducteurs de véhicules électriques.</p><br>
                <p>Trouvez, branchez, rechargez. Hexavolt met l'électricité à portée de route.</p>
            </div>
            <div>
                <a class="bg-yellow hover:bg-yellow/50" routerLink="/reserver_une_borner">Reserver une borne</a>
            </div>
        </div>
        <div class="lg:w-1/2 w-full order-1 lg:order-2">
            <img src="assets/images/imageborne2.webp"
                alt="Image de plusieurs bornes de la section de réservation de bornes" class="shadow-left">
        </div>
    </div>
</section>

<section class="margin-section">
    <h2 class="text-center">Louer vos propres bornes de recharges</h2>
    <hr>
    <div class="flex lg:flex-row flex-col gap-9">
        <div class="lg:w-1/2 w-full">
            <img src="assets/images/imageborne3.webp"
                alt="Image de plusieurs bornes de la section de la section de location de bornes" class="shadow-right">
        </div>
        <div class="flex flex-col lg:justify-center items-center lg:w-1/2 w-full gap-9">
            <div>
                <p>Vous possédez une borne de recharge ? Rentabilisez-la en la rendant accessible à d'autres
                    conducteurs. Grâce à notre plateforme, vous gérez facilement les disponibilités, les tarifs et les
                    accès — tout en participant à un réseau solidaire et durable.</p><br>
                <p>Devenez acteur de la transition énergétique : louez votre borne de recharge à proximité et rejoignez
                    une communauté qui fait avancer la mobilité électrique.</p>
            </div>
            <div>
                <a class="bg-yellow hover:bg-yellow/50" routerLink="/louer_une_borne">Louer une borne</a>
            </div>
        </div>
    </div>
</section>