<header>
  <nav class="flex justify-between items-center">

    <div class="flex items-center">

      <div>
        <a routerLink="/">
          <img src="assets/images/logo-transparent.png" alt="Logo de l'entreprise Hexavolt">
        </a>
      </div>

      <div class="flex gap-9">
        <div>
          <a routerLink="/reserver_une_borner">Reserver une borne</a>
        </div>
        <div>
          <a routerLink="/louer_une_borne">Louer ma borne</a>
        </div>
      </div>

    </div>

    <div class="lg:flex gap-9">

      <div>
        <a routerLink="/inscription">Inscription</a>
      </div>

      <div>
        <a routerLink="/connexion">Connexion</a>
      </div>

    </div>

  </nav>
</header>